# ignore everything
/*
/*/
.DS_Store

# ... but these:
!/.gitignore
!/Advanced Mathematics
!/Linear Algebra
!/Probability Theory And Mathematical Statistics
!/English
!/Signals and Systems
!/数据结构
!/计算机组成原理
!/操作系统
!/计算机网络
